nav{
    background-color: #024F9D;
    height: 56px;
    position: fixed;
    z-index: 1000;
}
.avatar{
    border-radius: 50%;
    margin-top: 7px;
    width: 40px;
}
.client_logo{
    margin-left: 15px;
    width: 120px;
}
.nav-elements{
    margin-left: 140px;
}
.search-style{
    padding: 0 0 0 15px;
}
.tabs .indicator{
    background-color: #424242;
}
.tabs .tab a{
    color: #bdbdbd;
}
.tabs .tab a.active{
    background-color: #e0e0e0;
    color: #fafafa;
}
.tabs .tab a:hover{
    color: #757575;
}
.tabs .tab a.active:hover{
    color: #757575;
}
