<nav>
    <div class="nav-wrapper">
        <img class="logo left" src="assets/logo-rankmi.png">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li class="active">
                <a class="textCenter" href="#">
                    <i class="fa fa-home icon-nav" aria-hidden="true"></i>
                    <span class="text-nav">Inicio</span>
                </a>
            </li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down margin-right-5">
            <li>
                <a class="textCenter" href="#">
                    <i class="fa fa-cog icon-nav" aria-hidden="true"></i>
                    <span class="text-nav">Configuración</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="img-user-nav" src="assets/user-woman.jpg">
                    <span class="name-nav">Josefina</span>
                    <i class="fa fa-caret-down caret-down" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="textCenter inline-block">
                        <i class="fa fa-home icon-nav" aria-hidden="true"></i>
                        <span class="text-nav">Ayuda</span>
                    </div>
                    <i class="fa fa-caret-down caret-down inline-block" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="comment">
    <div class="left text-comment">
        <i class="fa fa-home blue-init" aria-hidden="true"></i>
        <p class="inline-block"><strong class="font-700">Inicio:</strong> Accede a todos los procesos en los que estás participando</p>
    </div>
    <div class="right btn-comment">
        <a class="btn success-green"><i class="fa fa-plus rem1" aria-hidden="true"></i> Crear proceso <i class="fa fa-caret-down margin-left-30" aria-hidden="true"></i></a>
    </div>
</div>